<html>
<head>
  <title>
    Printf
  </title>
  <link href="/bootstrap/css/printf.css" rel="stylesheet">
  <script src="js/all.js"></script>
  <script src="js/printf.js"></script>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%count=0%>
    <%count1=0%>
    <h2><%=tid%></h2>
    
<div>

  <div class="bg-color div-height bottom"><br>
  <img src="img/printf.png" class="img-responsive img-height"> 
  </div><!-- img div-->

  <div class="col-md-3 back" style="left-margin:0px">
  <div class="colr div-border div-size1 bottom ul-padding font">
    <center>QUESTION</center>
  </div>
  <div  class="div-border div-size colr">
  <ul class=" nav list-unstyled colr" id="cssdropdown">
    <li class="headlink ul-padding bottom colr " id="click1">
    <center><a href="#" >SECTION 1</a></center>
    <div id="cl1" class="undis colr ">
    <center>

    <ul class="nav list-unstyled ">
        <%for(var i=0; i< question.length/2; i++){%>
        <li class="handle colr" data-handles="hq<%= i+1%>"><a href="#"><span class="badge"></span>Question <%=i+1%></a></li>
        <%count++%>
        <%}%>
      </ul>
      </center>
      </div>  
    </li>
    <li class="headlink ul-padding bottom colr"  id="click2">
    <center><a href="#">SECTION 2</a></center>
    <div class="undis colr" id="cl2">
    <center>
    <ul class="nav list-unstyled">
        <%for (i=count; i<question.length; i++){%>
        <li class="handle colr" data-handles="hq<%=i+1%>"><a href="#"><span class="badge"></span>Question <%=i+1%></a></li>
        <%}%>
    </ul>
    </center>
    </div>
    </li>
  </ul>
    
  </div>  
  </div><!--div4-->
  <div class="col-md-9 que-color"><div class="que-div-size">
  <div class="div-padding" id="ins">
  <CENTER><p>INSTRUCTIONS</p></CENTER>
  </BR>
  <form role="form">
  <P>1. </P><BR>
  <P>2. </P><BR>
  <P>3. </P><BR>
  <P>4. </P><BR>
  <P>5. </P><BR><!-- radio ends-->
  </form> <br>
  <div>
  <center><input type="button" class="btn-sm btn-primary btn-info" name="b2" value="START" id="clk" /></center>
  </div>
  </div>

  <div class="que-div-size">
  <%for(i=0;i<question.length;i++) {%>
  <div class="content div-padding" data-text="hq<%=i+1%>" id="qu<%=i+1%>">
  <p>QUESTION <%=i+1%><br><%=question[i]%>           Marks : <%=marks[i]%><br></p>
  <form role="form">
  <div class="form-group radio">
        <%for(var k=0;k<4;k++){%>
        <input type="radio" name="que<%=i+1%>" id="option<%=k+1%>"><%=option[count1]%><br>
        <%count1++%>
        <%}%>
  </div><!-- radio ends-->
  </form> <br>
  </div>
  <%}%>
  </div>
  <div id="btn" class="undis">
  <center><input type="button" class="btn-sm btn-primary btn-info" name="b2" value="SUBMIT" onclick="" /></center>
  </div>
  </div><!-- div-8-->
</div><!--main div-->
</body>
</html>