<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
<form action='/submission' method='post'> 
  <%count=0%>
<% for( var i=0; i<4; i++) { %>
      
  <input type="button"  name="que<%=i+1%>" value="QUES <%= i+1 %>" />
<br/><pre>
<%=question[i]%>                              MARKS<%=marks[i]%></h4>
      </pre>

  <% for( var k=0; k < 4; k++) { %>
          
        <input type='radio' name='answer<%=i+1%>' value='<%= k+1 %>' required />
        <%= k + 1%>. <%=option[count]%>
          <%count=count+1%>
      </br>
       <% }%> 
     </br>

 <%}%>  
    <input type="submit" name="button"/>
      
</form>

  </body>
</html>